{% extends "base.html" %}
{% block content %}
<div class="form">
	{% if form %}
	<form action='magic/' method='POST'>
	{{form.as_p}}
	{% csrf_token %}
	<input type="submit">
	</form>
	{% endif %}
</div>
<div class="output">
	{% if magic_dict %}
	<table class="table">
		<tr>
			<th>company name</th>
			<th>magic number</th>
			<th>market cap</th>
			<th>ratios</th>
		</tr>
		{% for key, value in magic_dict.items %}
		<tr>
		<td>{{key}}</td>
		<td>{{value.magic_number}}</td>
		<td>{{value.market_cap}}</td>
		<td><button><a href="http://www.nasdaq.com/symbol/{{key}}/financials?query=ratios">{{key}} ratios</a></button></td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	{% if history %}
		<ul>
		{% for entry in history %}
			<a href="/table/{{entry.id}}/"><li>{{entry.ticker}}</li></a>
		{% endfor %}
		</ul>
	{% endif %}
</div>
{% endblock %}