{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<title>Magic Formula</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{%static "formula/django_ajax.js"%}"></script>
	<script src="{%static "formula/app.js"%}"></script>
</head>
<body>
<div class="form">
	{% if form %}
	<form action='/magic/' method='POST'>
	{{form.as_p}}
	{% csrf_token %}
	<input type="submit">
	</form>
	{% endif %}
</div>
<div class="output">
	


</div>
</body>
</html>